* {
    padding: 0px;
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
}

.App {
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding: 1rem 1.5rem;
}

.navbar .nav-link {
    font-weight: bold;
}

.custom-shape-divider-top-1675167124 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1675167124 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 255px;
}

.custom-shape-divider-top-1675167124 .shape-fill {
    fill: #0D6EFD;
}

@media screen and (max-width: 992px) {
    .custom-shape-divider-top-1675167124 {
        display: none;
    }
}